%div(ng-if="application")
  .app__header
      %h2.page-header {{application.name | translate}}
      .app__publisher
        Published by {{application.vendor}}
  .app-content
    .app__details
      .app_details__first
        .app__icon
          %img(ng-src="{{application.image}}")
      .app_details__second
        .app__rating
          Rating:
          -#=render("rating")
        -# Why do .app__languages and .language-list__language repeat?
        .app__languages(ng-if="application.categories.length")
          Categories
          %ul.language-list
            %li.language-list__language(ng-repeat="category in application.categories")
              {{category.name | translate}}
        .app__languages(ng-if="application.languages.length")
          Languages
          %ul.language-list
            %li.language-list__language(ng-repeat="language in application.languages")
              {{language | langCodeToName}}
        .app__languages(ng-if="application.accessibilities.length")
          Accessibility
          %ul.language-list
            %li.language-list__language(ng-repeat="accessibility in application.accessibilities")
              {{accessibility.name | translate}}
        .app__version(ng-if="application.version")
          Version {{application.version}}
        .app__updated
          Updated {{application.modified | date:"dd.MM.yyyy"}}
      .app__platforms
        %ul.platform-list
          %li.platform-list__platform(ng-repeat="platform in application.platforms" class="platform-list__platform--{{platform.slug}}")
            %a.platform__download(href="{{platform.store_url}}")
              %img(src="images/badges-assets/{{platform.slug}}-en.png" alt="{{platform.name | translate}}")

        .app__links
          .app__link.app-link--publisherwebsite
            %a(href="{{application.publisher_url}}") Publisher Website &gt;&gt;
          .app-link.app-link--support
            %a(href="{{application.support_url}}") Support Website &gt;&gt;

    .app__long-description
      {{application.description | translate}}

  -# TODO
    .app__screenshots
      %div(ng-controller="CarouselCtrl")
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
          </slide>
        </carousel>

    .related-apps
      %h3 Similar Applications
      %ul.similar-apps-list
        %li.similar-apps-list__app
          %a.similar-apps__link(a href="#")
            %img(src="/images/appicon-placer.png")
        %li.similar-apps-list__app
          %a.similar-apps__link(a href="#")
            %img(src="/images/appicon-placer.png")
        %li.similar-apps-list__app
          %a.similar-apps__link(a href="#")
            %img(src="/images/appicon-placer.png")
        %li.similar-apps-list__app
          %a.similar-apps__link(a href="#")
            %img(src="/images/appicon-placer.png")
