%img.front-bg(src="images/pictures-assets/front-image.jpg" alt="kuva: Maija Astikainen - Torikorttelit" title="kuva: Maija Astikainen - Torikorttelit");
.front-content
  %img.app-symbol(src="images/pictures-assets/apps-symbol.png" alt="Helsinki Apps Symbol")
  .h2 Helsinki App Catalogue
  %p —
  %p A collection of useful smartphone apps for Helsinki citizens and visitors
