%h2.page-header Info

.info-content
  .info__illustration.image--responsive
    %img(src="/images/pictures-assets/illustration.jpg")
  .info__description
    %h3 apps.hel.fi
    %p 
      Ipsum aliquip concursionibus in pariatur culpa ipsum do aliqua. Voluptate enim 
      id senserit despicationes non o elit illum ne incurreret, proident nisi 
      senserit, fore nostrud ut aliquip. Laborum eram aliquip offendit. Possumus esse 
      fugiat ita culpa ad ad irure aliquip. Magna te laborum, quibusdam nisi nisi 
      deserunt illum ita quae vidisse relinqueret an iis sunt aute in commodo, iis quo 
      minim eiusmod ab et quis culpa minim nescius, est pariatur eruditionem, non nam 
      tractavissent. 
    %p
      Developed by xxx
  .info__terms-condition
    %h2 Terms and Conditions
    %p Aute tempor voluptate si eiusmod arbitrantur te aliquip. Aliqua ea probant in 
    labore, iis illum cillum ex pariatur nam occaecat efflorescere e senserit e 
    possumus se fore laboris, expetendis fore hic tempor instituendarum qui ingeniis 
    do lorem, e fugiat commodo, ita ipsum probant instituendarum. Hic aute proident 
    coniunctione. 

    %p Do velit quae se arbitror e anim possumus sempiternum. Si nam 
    labore esse multos, admodum ipsum commodo iudicem, summis deserunt o 
    arbitrantur, aute singulis si transferrem. Voluptate praesentibus nam cernantur. 
    Senserit sed quis ab o o fidelissimae se quem cupidatat o tractavissent ad amet 
    te iudicem te varias. O cillum ipsum labore consequat, fugiat ne voluptate, 
    quibusdam nam fore arbitror ne tempor minim summis voluptate multos nam 
    voluptate tamen nisi si anim ubi aut est eram offendit a anim ab deserunt iis 
    senserit legam ne litteris praetermissum.
  .info__add-app
    %h2 Add Application
     %p Suggest an application that should be included in Helsinki App catalogue. Please bear in mind that all published applications should be relevant to City of Helsinki or Helsinki Region.
     
    <form class="form-horizontal suggest-form">
    <fieldset>
    <!-- Text input-->
    <div class="form-group">
      <label class="control-label" for="add-app-name">App Name</label>  
      <div class="entryfield">
      <input id="add-app-name" name="add-app-name" type="text" placeholder="" class="form-control input-md" required="">
      <span class="help-block">Name of the App</span>  
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="control-label" for="add-app-url">Url</label>  
      <div class="entryfield">
      <input id="add-app-url" name="add-app-url" type="text" placeholder="" class="form-control input-md" required="">
      <span class="help-block">Web address where the app can be downloaded</span>  
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="control-label" for="add-app-info">More Information</label>
      <div class="entryfield">                     
        <textarea class="form-control" id="add-app-info" name="add-app-info"></textarea>
        <span class="help-block">ie. Why this app should be included in Helsinki App Catalogue</span>
      </div>
    </div>

    <!-- Button (Double) -->
    <div class="form-group">
      <label class="control-label" for="add-app-send"></label>
      <div class="entryfield">
        <button id="add-app-send" name="add-app-send" class="btn btn-success">Send</button>
        <button id="add-app-cancel" name="add-app-cancel" class="btn btn-danger">Clear</button>
      </div>
    </div>

    </fieldset>
    </form>

   


