%h2.page-header Apps
.apps-filter=render("filtering")

.apps-list
  .apps-list__sort
    %form.form-horizontal(role="form")
      .form-group
        %label.control-label(for="sort-method") Sort List
        %select.form-control#sort-method(ng-model="sortProp")
          %option(value="-created") Newest first
          %option(value="-rating") Best rated first
          %option(value="name.fi") Alphabetical order
  .g-apps-list
    .g-app-listing(ng-repeat="application in applications | orderBy:sortProp" emit-last="true")=render("app")
