//
// Application Stylesheet
//

@import "bootstrap/bootstrap.less";
@import "lesshat/lesshat-prefixed.less";
@import "partials/_animations.less";
@import "partials/_layout.less";

@sea  : #0065CB;
@sun  : #FFCB65;
@urb  : #323232;
@sno  : #FFF8E8;
@sky  : #82B4E6;
@ice  : #DFE0E1;

@font-family-sans-serif:  "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

@headings-font-family:    inherit;
@headings-font-weight:    700;
@headings-line-height:    1.1;
@headings-color:          @sea;


#splash-page.ng-cloak  /*<-- This has higher specificity so it can display a splash screen*/
{
    display: block;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; } //fix bootstrap cursors with angularjs

body {
 background: @sky ;
 padding-top: 70px; /* offset to accomodate static navbar*/
}

a {
  color: @sea;
  &:hover {
    color: @sun;
  }
}
// Make all images responsive by default
img {
  .img-responsive();
}

.image--responsive{
    max-height: 450px;
    overflow: hidden;
    max-width: 800px;       
    -webkit-transition: max-width .5s ease-out;  /* Saf3.2+, Chrome */
    -moz-transition: max-width .5s ease-out;  /* FF4+ */
    -ms-transition: max-width .5s ease-out;  /* IE10? */
    -o-transition: max-width .5s ease-out;  /* Opera 10.5+ */
    transition: max-width .5s ease-out;
    img {
        width: 100%;
        -webkit-transition: margin-top .5s ease-out;  /* Saf3.2+, Chrome */
        -moz-transition: margin-top .5s ease-out;  /* FF4+ */
        -ms-transition: margin-top .5s ease-out;  /* IE10? */
        -o-transition: margin-top .5s ease-out;  /* Opera 10.5+ */
        transition: margin-top .5s ease-out;
    }
}

@media only screen and (min-width: 1160px) {
    .image--responsive { max-width: 1000px; }
}

[ng-cloak].splash-content {
    display: block !important;
}

.splash-content {
    display: none;
}

.splash-content {
  //background: #ddc7c7;
  display: none;
  text-align: center;
  color: @sno;
  z-index: 200;
  text-align: center;
  height:300px;
  width: 300px;
  padding: 24px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
}

.navbar-custom { 
  background-color: @sno;
  .lh-box-shadow(0 4px 10px rgba(20,20,20,0.5));
}
.navbar-custom .navbar-nav>.active>a:hover,.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus { background-color: @sno}
.navbar-custom .navbar-nav>.active>a,.navbar-custom .navbar-nav>.open>a,.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover,.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus { background-color: @sno}
.dropdown-menu { background-color: @sno}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: @sno}
.navbar-custom { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-custom { border-color: @sno}
.navbar-custom .navbar-brand { color: @sea }
.navbar-custom .navbar-brand:hover { color: @sun}
.navbar-custom .navbar-nav>li>a { color: @urb}
.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus { color: @sea}
.navbar-custom .navbar-nav>.active>a,.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus { color: @sun}
.navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus { color: @sun}
.dropdown-menu>li>a { color: @urb}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: @sun}
.navbar-custom .navbar-nav>.dropdown>a .caret { border-top-color: @urb}
.navbar-custom .navbar-nav>.dropdown>a:hover .caret { border-top-color: @sno}
.navbar-custom .navbar-nav>.dropdown>a .caret { border-bottom-color: @urb}
.navbar-custom .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: @sno}

.navbar-custom .navbar-toggle:hover {
  background-color: @sky;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: @sea;
}

.navigation-bar {
  .navbar(); 
  //.navbar-default();
  //.navbar-static-top();
  .navbar-fixed-top();
}

.page-header {
  color: @sno;
}


/*****   FRONT PAGE     ******/

img.front-bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  
  z-index: -200;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.front-bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.front-content {
  text-align: center;
  .lh-box-shadow(0 1px 10px rgba(20,20,20,0.5));
  height:300px;
  width: 300px;
  padding: 24px;
  background: @sno;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -150px;
  
  .app-symbol {
    width: 64px;
    margin: 0 auto;
  }
}

/*****   APP LISTING PAGE  ******/

.app-listing {
  .panel();
  padding: 12px;
  background: @sno;
  .lh-box-shadow(0 1px 10px rgba(20,20,20,0.5));
}

.app-listing__icon {
  //width: 92px;
}

.app-listing__rating {
  border: 1px solid @ice;
  border-left: 0px;
  border-right: 0px;
  margin: 12px 0 6px 0;
  padding-top: 2px;
  text-align: center;
  .ng-scope {
    display: inline-block;
  }
}

.g-app-listing__maininfo {
  height: 220px;
  overflow: auto;
}

.g-app-listing__moreinfo {
  //border-right: 1px solid @urb;
}

.app-listing__tags {
  font-size: 12px;
  border-bottom: 1px solid @ice;
  padding-bottom: 2px;
  text-align: center;
}

.taglist {
  margin: 0;
  padding: 0;
  font-weight: bold;
  li {
    display: inline-block;
    color: @sea;
    //background: #ffffff;
    //margin-left: 10px;
    a, a:hover {
      text-decoration: none;
    }
  }
}

.refine-toggle {
  cursor: pointer;
  color: @sea;
  &:hover {
    text-decoration: none;
    color: @sea;
  }
}

.filters-form {
  border-top: 1px solid @sky;
  padding-top: 12px;
  margin-top: 24px;
}

.filter-header {
  //text-align: right;
  .filter-header-label {
    font-weight: bold;
  }
  a {
    display: block;
    float: right;
  }
}

.filter-settings {
  .panel();
  padding: 12px;
  background-color: @sno;
}

.filter-tag-selections {
  .make-row();
}

.filter-select {
  .make-xs-column(6);
  .make-md-column(4);
}

.apps-list__sort {
  margin-bottom: 24px;
  .form-group {
    margin: 0;
  }
  .control-label {
    .make-xs-column(4);
    .make-sm-column(8);
    color: @sea;
  }
  .form-control {
    .make-xs-column(8);
    .make-sm-column(4);
    color: @sno;
    background-color: @sea;
    border: none;
  }
}


.app-listing {
  .app-listing__name {
      margin: 0 0 12px 0;
    a {
      color: @sea;
    }
    a:hover {
      text-decoration: none;
      color: @sun;
    }
  }
}




/*****   APP PAGE  ******/

.app-content {
  .clearfix();
  .panel();
  padding: 24px;
  background: @sno;
  .lh-box-shadow(0 1px 10px rgba(20,20,20,0.5));
}

.app__header {
  padding-bottom: 24px;
}

.app__name {
  margin: 0 0 12px 0;
  padding: 0;
  color: @sun;
}

.app__publisher {
  font-size: 14px;
  color: @sno;
}

.app__short-description {
  margin: 24px 0;
}


.app__details {
  .clearfix();
  margin-bottom: 24px;
}

.app_details__first {
  .make-xs-column(6);
  .make-md-column(3);
}
.app_details__second {
  .make-xs-column(6);
  .make-md-column(4);
}

.app__icon {
  margin: 12px;
  .lh-border-radius (32px);
  overflow: hidden;
  //max-width: 100px;
}

.app__rating {
  margin: 12px 0;
}

.app__updated {
  margin-bottom: 12px;
}

.app__languages {
  font-weight: bold;
}

.language-list {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.language-list__language {
  display: inline-block;
  margin: 0;
}

.app__platforms {
  //background: #666666;
  .make-xs-column(12);
  .make-md-column(5);
}

/* ul */.platform-list {
  padding: 0;
}
 
/* li */.platform-list__platform {
  list-style: none;
  margin: 0;
  .clearfix;
}

.platform-list__platform a {
    float: right;
    text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
    max-width: 140px;
    min-height: 48px;
}

.platform__download {
  display: block;
  text-align: center;
  margin: 6px;
  padding: 6px;
  color: #FFF;
}

.app__links {
  text-align: right;
  padding: 0 24px 24px 0;
}

.app__link {
  //.make-xs-column(6);
}

.app__long-description {
  margin-bottom: 24px;
}


.app__screenshots {
  background: @urb;
  padding: 24px;
  .carousel-inner > .item {
    text-align: center;
    img {
      margin: auto;
      max-height: 600px;
    }
  }
}

.app__short-description {
  font-weight: bold;
}


.related-apps {
  background: @sno;
}

/*ul*/.similar-apps-list {
  .make-row();
  padding: 0;
}

/*li*/.similar-apps-list__app {
  list-style: none;
  text-align: center;
  .make-xs-column(3);
  .make-sm-column(2);
}

/*a*/.similar-apps__link {
  display: block;
  padding: 12px;
}

/*****   FOOTER  ******/


.main-footer-content {
  padding: 24px;
  text-align: center;
  color: @sno;
}

/*****   CATEGORIES PAGE  ******/

.category-content {
  //height: 200px;
  .panel();
  padding: 12px;
  background: @sno;
  .lh-box-shadow(0 1px 10px rgba(20,20,20,0.5));
  .clearfix();
  margin-bottom: 24px;
}

.category--icon {
    font-size: 56px;
    text-align: center;
    padding: 64px;
}
 
.category--name {
  font-size: 24px;
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.category--count {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

/*****   INFO PAGE  ******/

.info-content {
  .clearfix();
  .panel();
  padding: 24px;
  background: @sno;
  .lh-box-shadow(0 1px 10px rgba(20,20,20,0.5));
}

.suggest-form {
  padding: 24px;
  background: @ice;
  .form-group {
    .make-row();
  }
  .control-label {
    //.make-xs-column(12);
    .make-sm-column(4);
  }
  .entryfield{
    //.make-xs-column(12);
    .make-sm-column(6);
  }
    
}
